# Node modules
/node_modules

# Compilation output
/dist

# pnpm deploy output
/bundle

# Hardhat Build Artifacts
/artifacts

# Hardhat compilation (v2) support directory
/cache

# Typechain output
/types

# Hardhat coverage reports
/coverage

# Configurazione Hardhat (contiene dati sensibili)
hardhat.config.ts

# File ambiente
.env.local
.env.production

# LaTeX auxiliary files
*.aux
*.lof
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.idx
*.listing

# LaTeX intermediate documents
*.dvi
*.xdv
*-converted-to.*

# Bibliography auxiliary files
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

# Build tool auxiliary files
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

# Glossaries
*.acn
*.acr
*.glg
*.glo
*.gls
*.glsdefs
*.lzo
*.lzs
*.slg
*.slo
*.sls

# Makeindex
*.idx
*.ilg
*.ind
*.ist

# Misspelled fonts log
missfont.log

# PDF output (uncomment if you don't want to track PDFs)
Latex/*.pdf

*.log

# Keep only .tex source files
# Everything else in Latex/ is ignored by the rules above
Latex/main.fls
Latex/main.aux
Latex/main.fdb_latexmk
Latex/main.fls
Latex/main.ist
Latex/main.log
Latex/main.out
Latex/main.pdf
Latex/main.synctex.gz
Latex/main.toc
Latex/chapter1/chapter1.aux
Latex/chapter2/chapter2.aux
Latex/chapter3/chapter3.aux
Latex/chapter4/chapter4.aux
Latex/chapter5/chapter5.aux
Latex/frontmatter/frontispiece.aux
package-lock.json
ignition/*
package-lock.json
Latex/.DS_Store


#app 
app/venv
venv
__pycache__/
*.pyc
.env
app/Ledger_Logistic/Blockchain/Spedizione/dati_spedizioni.json
