version: '3.8'

services:
  besu-node1:
    image: hyperledger/besu:latest
    container_name: besu-node1
    ports:
      - "8545:8545"   # RPC HTTP
      - "8546:8546"   # RPC WebSocket
      - "30303:30303" # P2P
    volumes:
      - ./besu-data-node1:/var/lib/besu
    command: [
      "--network=dev",
      "--miner-enabled",
      "--miner-coinbase=0xfe3b557e8fb62b89f4916b721be55ceb828dbd73",
      "--rpc-http-enabled",
      "--rpc-http-host=0.0.0.0",
      "--rpc-http-port=8545",
      "--rpc-http-cors-origins=*",
      "--rpc-ws-enabled",
      "--rpc-ws-host=0.0.0.0",
      "--host-allowlist=*",
      "--p2p-port=30303",
      "--logging=INFO"
    ]
    networks:
      - besu-network

  besu-node2:
    image: hyperledger/besu:latest
    container_name: besu-node2
    ports:
      - "8547:8545"   # RPC HTTP
      - "8548:8546"   # RPC WebSocket
      - "30304:30303" # P2P
    volumes:
      - ./besu-data-node2:/var/lib/besu
    command: [
      "--network=dev",
      "--miner-enabled",
      "--miner-coinbase=0xfe3b557e8fb62b89f4916b721be55ceb828dbd73",
      "--rpc-http-enabled",
      "--rpc-http-host=0.0.0.0",
      "--rpc-http-port=8545",
      "--rpc-http-cors-origins=*",
      "--rpc-ws-enabled",
      "--rpc-ws-host=0.0.0.0",
      "--host-allowlist=*",
      "--p2p-port=30303",
      "--logging=INFO"
    ]
    depends_on:
      - besu-node1
    networks:
      - besu-network

  besu-node3:
    image: hyperledger/besu:latest
    container_name: besu-node3
    ports:
      - "8549:8545"   # RPC HTTP
      - "8550:8546"   # RPC WebSocket
      - "30305:30303" # P2P
    volumes:
      - ./besu-data-node3:/var/lib/besu
    command: [
      "--network=dev",
      "--miner-enabled",
      "--miner-coinbase=0xfe3b557e8fb62b89f4916b721be55ceb828dbd73",
      "--rpc-http-enabled",
      "--rpc-http-host=0.0.0.0",
      "--rpc-http-port=8545",
      "--rpc-http-cors-origins=*",
      "--rpc-ws-enabled",
      "--rpc-ws-host=0.0.0.0",
      "--host-allowlist=*",
      "--p2p-port=30303",
      "--logging=INFO"
    ]
    depends_on:
      - besu-node1
    networks:
      - besu-network

  besu-node4:
    image: hyperledger/besu:latest
    container_name: besu-node4
    ports:
      - "8551:8545"   # RPC HTTP
      - "8552:8546"   # RPC WebSocket
      - "30306:30303" # P2P
    volumes:
      - ./besu-data-node4:/var/lib/besu
    command: [
      "--network=dev",
      "--miner-enabled",
      "--miner-coinbase=0xfe3b557e8fb62b89f4916b721be55ceb828dbd73",
      "--rpc-http-enabled",
      "--rpc-http-host=0.0.0.0",
      "--rpc-http-port=8545",
      "--rpc-http-cors-origins=*",
      "--rpc-ws-enabled",
      "--rpc-ws-host=0.0.0.0",
      "--host-allowlist=*",
      "--p2p-port=30303",
      "--logging=INFO"
    ]
    depends_on:
      - besu-node1
    networks:
      - besu-network

networks:
  besu-network:
    driver: bridge