
services:
  besu-validator1:
    image: hyperledger/besu:latest
    container_name: besu-validator1
    build:
      context: .
      dockerfile: Dockerfile
    command:
      - --genesis-file=/network/genesis.json                    # dove troare il genesis, definisce parametri blockchain, es. chainId, QBFT, account etc..
      - --data-path=/var/lib/besu                               # dove besu salva i dati della blockchain      
      - --rpc-http-enabled                                      # attiva server HTTP-RPC, mi consenste di connettermi con Hardhat
      - --rpc-http-api=ETH,NET,QBFT,ADMIN                       # API per RPC (metodi che posso invocoare x informazioni)
      - --host-allowlist="*"                                    # permette connessioni RPC da qualsiasi host (*)
      - --rpc-http-host=0.0.0.0                                 # accetta connessioni da tute le interfacce del container (ipv4, ipv6)
      - --p2p-port=30303                                        # porta di comunicazione p2p fra i nodi
      - --p2p-enabled=true                                      # abilita comunicazione p2p                
      - --rpc-http-port=8545                                    # porta Besu del nodo che espone la RPC HTTP per hardhat (ogni nodo ha la sua)
      - --rpc-http-cors-origins="*"                             # ogni browser può fare richieste RPC
      - --node-private-key-file=/network/Node-1/key             # mi dice dove trovare la key del nodo, serve per firmare i blocchi (se validatore)
      - --sync-mode=FULL                                        # modalità di sincronizzazione (completa, tiene traccia di tutta la storia della blockchain)
      - --static-nodes-file=/network/static-nodes.json          # dice dovè lo static-nodes file, indica tutti i nodi conosciuti della rete (serve per riconnettersi ogni volta)
    ports:
      - "8545:8545"  # prima = porta che usa Hardhat per connettersi, seconda = porta che espone il container per RCP HTTP
      - "30303:30303" # prima = p2p visibile sul mio pc, seconda = p2p che espone il container
    volumes:
      - ./QBFT-Network:/network  # cartella locale che contiene i file di rete
      - besu-data1:/var/lib/besu # volume docker dove vengono salvate/riprese le impostazioni e lo stato della blockchain
    networks:
      besu-network:
        ipv4_address: 172.25.0.2  # assegno al nodo un IP statico, visto che cambierebbe ogni volta
    healthcheck:
      test: >
        curl -s -X POST --data '{"jsonrpc":"2.0","method":"qbft_getValidatorsByBlockNumber","params":["latest"],"id":1}' http://localhost:8545/ -H "Content-Type: application/json"
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s


  besu-validator2:
    image: hyperledger/besu:latest
    container_name: besu-validator2
    command:
      - --genesis-file=/network/genesis.json
      - --data-path=/var/lib/besu
      - --rpc-http-enabled
      - --rpc-http-api=ETH,NET,QBFT
      - --host-allowlist=*
      - --rpc-http-host=0.0.0.0
      - --p2p-port=30304
      - --p2p-enabled=true
      - --rpc-http-port=8546
      - --rpc-http-cors-origins=*
      - --node-private-key-file=/network/Node-2/key
      - --sync-mode=FULL
      # # indica l'enode URL del nodo genesi (sarebbe solo il nodo 1)
      - --bootnodes=enode://387d7fe626e3080074657414b4fef45bb2a7765b21074cbf3022e56f73e7b001e348eaf77a8caae5ef3cd08328c19fc3f4b85532644e8a991fbb8acde4bbb119@172.25.0.2:30303
      - --static-nodes-file=/network/static-nodes.json
    ports:
      - "8546:8546"
      - "30304:30304"
    volumes:
      - ./QBFT-Network:/network
      - besu-data2:/var/lib/besu
    networks:
      besu-network:
        ipv4_address: 172.25.0.3


  besu-validator3:
    image: hyperledger/besu:latest
    container_name: besu-validator3
    command:
      - --genesis-file=/network/genesis.json
      - --data-path=/var/lib/besu
      - --rpc-http-enabled
      - --rpc-http-api=ETH,NET,QBFT,DEBUG
      - --host-allowlist=*
      - --rpc-http-host=0.0.0.0
      - --p2p-port=30305
      - --p2p-enabled=true
      - --rpc-http-port=8547
      - --rpc-http-cors-origins=*
      - --node-private-key-file=/network/Node-3/key
      - --sync-mode=FULL
      - --bootnodes=enode://387d7fe626e3080074657414b4fef45bb2a7765b21074cbf3022e56f73e7b001e348eaf77a8caae5ef3cd08328c19fc3f4b85532644e8a991fbb8acde4bbb119@172.25.0.2:30303
      - --static-nodes-file=/network/static-nodes.json
    ports:
      - "8547:8547"
      - "30305:30305"
    volumes:
      - ./QBFT-Network:/network
      - besu-data3:/var/lib/besu
    networks:
      besu-network:
        ipv4_address: 172.25.0.4


  besu-validator4:
    image: hyperledger/besu:latest
    container_name: besu-validator4
    command: 
      - --genesis-file=/network/genesis.json
      - --data-path=/var/lib/besu
      - --rpc-http-enabled
      - --rpc-http-api=ETH,NET,QBFT
      - --host-allowlist=*
      - --rpc-http-host=0.0.0.0
      - --p2p-port=30306
      - --p2p-enabled=true
      - --rpc-http-port=8548
      - --rpc-http-cors-origins=*
      - --node-private-key-file=/network/Node-4/key
      - --sync-mode=FULL
      - --bootnodes=enode://387d7fe626e3080074657414b4fef45bb2a7765b21074cbf3022e56f73e7b001e348eaf77a8caae5ef3cd08328c19fc3f4b85532644e8a991fbb8acde4bbb119@172.25.0.2:30303
      - --static-nodes-file=/network/static-nodes.json
    ports:
      - "8548:8548"
      - "30306:30306"
    volumes:
      - ./QBFT-Network:/network
      - besu-data4:/var/lib/besu
    networks:
      besu-network:
        ipv4_address: 172.25.0.5

networks:
  besu-network:
    driver: bridge
    internal: false
    name: besu-network
    ipam:
      config:
        - subnet: 172.25.0.0/16

volumes:
  besu-data1:
  besu-data2:
  besu-data3:
  besu-data4: